<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="/js/lib/jquery-1.9.1.js"></script>
    <script src="/js/lib/handlebars.js"></script>
    <script src="/js/home.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
