<style type="text/css" media="screen">
  #add-task-form {
    background-color: lightgray;
  }
  #task-list {
    width: 100%;
  }
  .task.past-due {
    color: red;
  }
  .task.complete {
    color: grey;
  }
</style>

<h1>{{title}}</h1>
<form id="add-task-form"
  action="home_submit" method="get" accept-charset="utf-8">
  <table border="0" cellspacing="5" cellpadding="5">
    <tr>
      <td>
        <input type="text"
          name="description"
          placeholder="Description"
          />
      </td>
      <td>
        <input type="text"
          name="due_date"
          placeholder="Due Date"
          />
      </td>
      <td><button type="submit">Add Task</button></td>
    </tr>
  </table>
</form>
<table id="task-list">
  {{#tasks}}
  <tr class="task {{#if past_due}}past-due{{/if}} {{#if complete}}complete{{/if}}">
    <td>{{#unless complete}}<button class="complete-task-button" data-task-id="{{id}}">Complete</button>{{else}}&#10004;{{/unless}}</td>
    <td><strong>{{description}}</td>
    <td>{{due_date_formatted}}</td>
    <td><button class="delete-task-button" data-task-id="{{id}}">Delete</button></td>
  </tr>
  {{/tasks}}
</table>

